html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  scroll-snap-type: y mandatory;
overflow-y: scroll;
height: 100vh;
}

section {
height: 100vh;
scroll-snap-align: start;
}

.one {
background: rgb(36, 164,138);
}
.two {
background: rgb(211, 79,79);
}
.three {
background: rgb(67, 91,175);
}
